.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.header a {
  margin: 0 10px;
  color: #fff;
  transition: color .2s ease-in-out;
  padding: 20px;
}

.header a:hover, .header .active {
  color: #c353c3;
}